.App {
  max-width: 600px;
  width: 65%;
  margin: 0 auto;
}

.App header {
  font-size: 4rem;
  font-family: "Raleway Dots", cursive;
  color: #4ba3b7;
  text-align: center;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.App .container {
  border: 0.5px solid #d9d9d9;
  border-radius: 7px;
  margin-top: 30px;
}

.App footer {
  font-size: 12px;
  opacity: 0.6;
}

.App a {
  color: #4ba3b7;
}
