.Search {
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Search .input-line {
  width: 60%;
  margin-right: 15px;
  display: inline-block;
}

.Search .btn {
  margin-bottom: 0.2rem;
}
