.WeatherForecast {
  text-align: center;
  margin-bottom: 25px;
}

.WeatherForecast-night-temperature {
  opacity: 0.6;
  margin-left: 6px;
  font-size: 13px;
}

.WeatherForecast-day-temperature {
  font-size: 13px;
}
